<div>
    <h3>Why Crom?</h3>
    <div>
        You may be wondering to yourself, why Crom? Well for most users, this is probably totally overkill.
        Crom is a service that gives you (a library/service/person trapped in a computer) the ability to query what versions of have
        been published. This becomes useful, when you want to be able to report on what's available.
        <br />
        One of Crom's goals it to remove the need to have bump commits. We'll discuss this <a href="#version-management">below</a>.
    </div>

    <h3>What Questions can YOU ask?</h3>
    <div>
        Crom aims to answer a few questions (and more will be added latter) without needing access to source repo. They are:
        <ul>
            <li>What versions are available of this repo?</li>
            <li>What is the latest version for a repo?</li>
            <li>Where is your closes release from your HEAD?</li>
            <li>How do I product reports to be consumed by users (deployment reports, release notes, etc)</li>
        </ul>
    </div>

    <h3 id="version-management">Version Management</h3>
    <div>
        One of the hard questions when dealing with a project is how do you want to version. Crom provides a way
        to provide the versions to a project. It does this by reading your commit message and searching for
        keywords like <code>[bump major]</code>. If Crom see's that string it will take the last commit in your
        graph and bumps the major version for you.
        <br />
        You may ask, why put that in a service?! Well because then you don't need to manage a file who's only purpose
        is to record the version number and needs to update with ever version.
        <table>
            <thead>
                <tr>
                    <td>Keyword</td>
                    <td>Meaning</td>
                </tr>
            </thead>
            <tr>
                <td><code>[bump major]</code></td>
                <td>Bumps the Major Version of the repo</td>
            </tr>

            <tr>
                <td><code>[bump minor]</code></td>
                <td>Bumps the Minor Version of the repo</td>
            </tr>
            <tr>
                <td><code>[bump patch]</code></td>
                <td>Bumps the Patch Version of the repo</td>
            </tr>
                <tr>
                <td><code>[bump build]</code></td>
                <td>Bumps the Build Version of the repo</td>
            </tr>
            <tr>
                <td><code>[bump group n]</code> - Usage: <code>[bump group 6]</code></td>
                <td>Bumps the n'th part of the version number. This is base 0, meaning that 0 is the major version.</td>
            </tr>
            <tr>
                <td><code>[force version {{ '{' }}versionNumber{{ '}' }}]</code> - Usage: <code>[force version 1.2.183.24]</code></td>
                <td>Sets the version to be <code>versionNumber</code>.</td>
            </tr>

        </table>
    </div>

    <h3 id="api">API's</h3>
    <div>
        The entire web UI is driven off the backing services API's. The two projects written against the service
        (located on <a href="https://github.com/ethankhall/version-manager-clients">GitHub</a> are two example implementations that
        you can use. I'll be publishing more formal API docs soon.
    </div>

    <h3 id="why-ui-shit">Why does the UI do...</h3>
    <div>
        Let me stop you right there. Probably because I don't know how. I'm a backend person and this is my first introduction into
        a real web frontend. Any help and/or UX suggestions are welcome.
    </div>
</div>