<div>
    <div *ngIf="loggedIn">
        <button class="btn btn-default" [routerLink]="['/create/project']">New Project</button>
    </div>

    <div *ngIf="projects.length != 0">
        <h3>Projects:</h3>
        <ul>
            <li *ngFor="let project of projects"><a (click)="toProject(project)">{{project}}</a></li>
        </ul>
    </div>
    <div *ngIf="loggedIn && projects.length == 0">
        You don't have any project, click the "New Project" button to create one, or click <a [routerLink]="['/create/project']">here</a>
    </div>

    <p *ngIf="loggedIn == false">
        If you log in, you'll be able to create your own projects!
    </p>
</div>